body {
    background-color: #88BDBC;
    font-family: 'Merriweather', serif;
}

.Merriweather {
  font-family: 'Merriweather', serif;
}

header {
  font-family: 'Merriweather', serif;
}

/* Navigation bar */
.topnav {
  background-color: #112D32;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #254E58;
  color: white;
}

.topnav a.active {
  background-color: #4F4A41;
  color: white;
}

/* Resume iframe */
iframe {
  width: 75%;
  height: 100%;
}

/* Landing Page image styling */
#showcase{
  background-image:url('assets/Mark_01.jpg');
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

#showcase h1{
  font-size:70px;
  line-height:1.2;
}

#showcase p{
  font-size:40px;
  color: white;
  background-color: #88BDBC;
  padding: 16px 14px;
}

.margins {
  text-align: center;
  width: 100%;
}

.footer {
  position: inherit;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #254E58;
  color: white;
  text-align: center;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  padding: 16px 14px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #112D32;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}